* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    --cor-primaria: #493726;       
    --cor-primaria-variante: #7d881e;
    
    --cor-secundaria-destaque: #ffd735; 
    --cor-secundaria-fundo: #b6bb9e;   

    --cor-texto-principal: #1f200d; 
    --cor-texto-inverso: #ffffff;   
    --cor-fundo-claro: #f8f9fa;  
    --cor-fundo-input: #f3f3f3;  

    --cor-sucesso: #28a745; 
    --cor-erro: #dc3545;   
}

body {
    font-family: Tahoma;
    background-color: var(--cor-texto-inverso);
}

.header {
    width: 100%;
    background-color: var(--cor-primaria);
    margin: 0 auto;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-fundo-claro);
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 4rem 1rem;
    line-height: 1.3rem;
    margin: 50px auto;
    
}

.section-grid .section {
    display: flex;
    background-color: var(--cor-primaria);
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    height: 300px;
    color: var(--cor-fundo-claro);

}
.section a {
    text-align: center;
    text-decoration: none;
    color: var(--cor-texto-inverso);
    font-weight: 700;
    text-transform: uppercase;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.section-grid h2 {
    text-align: center;

}


.section-doacoes {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo-claro);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    margin: 50px auto;
}

footer {
    text-align: center;
    width: 100%;
    margin: 40px;
}

.voltar {
    padding: 2rem 2rem;
}
.voltar a {
    color: rgb(48, 16, 16);
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    
}